/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */


/*=========================================================================
* Phonegap derived CSS
*=========================================================================*/

* {
	-webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
	-webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
	-webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
	-webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
	background-color: #E4E4E4;
	color: #444;
	font-family: "HelveticaNeue-Light", "HelveticaNeue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}


/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
	.app {
		background-position:left center;
		padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
		margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
									  /* offset horizontal: half of image width and text area width */
	}
}

@keyframes fade {
	from { opacity: 1.0; }
	50% { opacity: 0.4; }
	to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
	from { opacity: 1.0; }
	50% { opacity: 0.4; }
	to { opacity: 1.0; }
}



/*=========================================================================
* Phonon overrides
*=========================================================================*/

.header-bar {
	background-color: #489648;
	box-shadow: rgba(0, 0, 0, 0.3) 1px 2px 2px;
	color: #fff;
	height: 60px;
}
.header-bar ~ .content {
    margin-top: 60px;
}
.tabs .tab-items .tab-item {
	color: #489648;
}
.app-page {
	background-color: #E4E4E4;
	color: #444;
	/*font-family: "HelveticaNeue-Light", "HelveticaNeue", Helvetica, Arial, sans-serif;*/
	/*font-size: 16px;*/
}
.padded-full {
	padding-bottom: 50px;
}
/* tabs are hidden on initial app view */
#tabs {
	visibility: hidden;
}
.tabs .tab-indicator {
	background-color: #489648;
}
.list li {
	background-color: #fff;
}
/* selected list item */
.list li.selected {
	background-color: #489648;
	color: #fff;
}
/* selected list icon */
.list li.selected .pull-left, .list li.selected .pull-right {
	color: #fff;
}
/* list icon, e.g. delete cross */
.list li .pull-left, .list li .pull-right {
	color: #666;
}
/* thin list for archives */
.list li.thin {
	font-size: 14px;
	line-height: normal;
	min-height: initial;
	padding: 8px 0;
}
/* thin list icon, e.g. imported tick */
.list li.thin .pull-left, .list li.thin .pull-right {
	height: 14px;
	line-height: 14px;
	color: #489648;
}
/* list header text*/
.list .divider {
	color: #666;
}
.list .separator {
	background-color: transparent;
	height: 20px;
	min-height: 0;
}

/* override input highlight colour */
.primary {
    background-color: #489648 !important;
}
input[type="text"]:focus {
	border-color: #489648;
}
.primary.btn-flat {
	color: #489648 !important;
}
.checkbox :checked + span:not(.text), .radio :checked + span:not(.text) {
	border-color: #489648;
}



/*=========================================================================
* myForest CSS
*=========================================================================*/

#topLogo {
	height: 36px;
	margin: 13px 0 0 10px;
	max-width: 90%;
}
#mainPanel {
	padding: 113px 10px 24px 10px;
}
#sync_icon {
	display: none;
	margin: 17px;
	position: fixed;
	right: 0;
	top: 0;
}
input.fat-input {
	padding-left: 10px;
	width: 95%;
}

.property {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.3) 1px 2px 2px;
	box-sizing: border-box;
	font-size: 24px;
	margin-bottom: 10px;
	padding: 10px;
	width: 100%;
}
.record {
	background-color: #fff;
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 18px;
	margin-bottom: 5px;
	padding: 6px 10px;
	transition: 0.5s background-color;
	width: 100%;
}

.hint {
	background-color: #f5f5f5;
	display: none;
	margin-top: 10px;
	padding: 10px;
}
.hint > p {
	color: #666;
}

h1, h2 {
	color: #666;
	font-weight: bold;
	text-align: center;
}
h1.spaced {
	font-size: 18px;
	margin: 1.5em 0;
}
h2 {
	font-size: 16px;
	margin: 1em 0;
}

hr {
	margin: 2em 0;
}

.top1 {
	margin-top: 1em;
}
.top2 {
	margin-top: 2em;
}

.hidden {
	display: none !important;
}
.noBorderBottom {
	border-bottom: 0 !important;
}
